GridPane {
    -fx-background-color: -color-dark;
    -fx-background-radius: 20px;

}

GridPane > Label, GridPane > HBox > Label {
    -fx-text-fill: white;
}


ScrollPane {
    -fx-alignment: center;
}