#scrollPane HBox {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-font-size: 18px;
    -fx-background-insets: 5px;
    -fx-padding: 2 5 2 5;
}

GridPane{
    -fx-background-color: -color-dark;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-insets: -19;
    -fx-vgap: 35px;
}

#addButton{
    -fx-background-color: -color-green;
}