.root {
    -fx-background-color: linear-gradient(to bottom right, white 0%,rgba(213,213,213,0.85));
    -fx-font-size: 20;
    -fx-font-family: "Roboto Light";
    -color-green: #3CFEAA;
    -color-dark: #3B3B3B;
}

.button {
    -fx-display: inline-block;
    -fx-outline: none;
    -fx-font-size: 14px;
    -fx-line-height: 1;
    -fx-background-radius: 10px;
    -fx-background-color: -color-dark;
    -fx-border-radius: 10px;
    -fx-padding: 10;
    -fx-margin: 10;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0, 0, 1);
}

.button:hover{
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
}

.button:pressed{
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0, 0, 2);
}

HBox, VBox {
    -fx-alignment: center;
    -fx-padding: 5;
}

.text-field {
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 3, 0, 0, 1);
}


.scroll-pane{
    -fx-background-color:transparent;
    -fx-alignment: center;

}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.date-picker .arrow-button {
    -fx-display: inline-block;
    -fx-outline: none;
    -fx-line-height: 1;
    -fx-background-radius: 10px;
    -fx-background-color: -color-dark;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}
.date-picker .cell {
    -fx-background-color: white;
}
.date-picker .cell:hover {
    -fx-background-color: gray;
}
.date-picker .cell:focused {
    -fx-background-color: gray;
}
.date-picker .selected {
    -fx-background-color: -color-dark;
    -fx-text-fill: white;
}
.date-picker .selected:focused {
    -fx-background-color: -color-dark;
    -fx-text-fill: white;
}
.date-picker-popup  {
    -fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: -color-dark;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
    -fx-text-fill: white;
    -fx-background-color: -color-dark;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
}

.accordion .titled-pane > *.content{
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-color: transparent;
    -fx-outline: none;
    -fx-line-height: 1;
    -fx-padding: 10px 12px 10px 12px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0.2, 0, 3);

}

.accordion .titled-pane .title {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0.2, 0, 3);
    -fx-display: inline-block;
    -fx-outline: none;
    -fx-line-height: 1;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-background-insets : 4.0, 0.0, 0.0;
    -fx-padding: 15.0, 0.0, 0.0;
    -fx-background-radius : 10px;
}

#nextButton{
    -fx-background-color: -color-green;
    -fx-text-fill: black;
}
